/*CSS file for Tax Computation Program*/
* {
    background-color: #536162;
}
.appname {
    color: #f3f4ed;
    background-color: #424642;
    text-align: center;
    font-family: Baron Neue;
    font-size: 30px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    height: 60px;
    width: 50%;
    border-radius: 25px;
}

.description {
    color: #f3f4ed;
    background-color: #424642;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    margin: auto;
    margin-top: 15px;
    padding: 10px 15px;
    height: 80px;
    width: 45%;
    border-radius: 25px;
}

input[type=text] {
    background-color: #f3f4ed;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 30px;
    padding: 2px 10px;
    text-align: center;
}

.main {
    text-align: center;
}

.category {
    color: #424642;
    background-color: #fad586;
    text-align: center;
    font-family: Baron Neue;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    width: 200px;
    height: 70px;
}

.category-d {
    color: #424642;
    background-color: #fad586;
    text-align: center;
    font-family: Baron Neue;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    width: 460px;
    height: 20px;
}

button {
    background-color: #c64756;
    font-family: Baron Neue;
    width: 100px;
    height: 40px;
    padding-bottom: 10px;
    padding-top: 5px;
    border: none;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
}

.results {
    background-color: #fad586;
    color: #424642;
    font-family: Baron Neue;
    height: 50px;
    width: 150px;
    margin: auto;
    margin-top: -5px;
    padding: 20px;
    border-radius: 25px;
}

span {
    background-color: #fad586;
    color: #c64756;
    font-size: 30px;
    margin-top: 5px;
}