* {
    background-color: #1c2b2d;
}
.appname {
    color: #e6d5b8;
    background-color: #186f8b;
    text-align: center;
    font-family: Baron Neue;
    font-size: 30px;
    margin: auto;
    padding-top: 20px;
    height: 60px;
    width: 50%;
    border-radius: 25px 25px 0px 0px;
    border-bottom: 5px solid #eeb76b;
}

.top {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    margin: auto;
}

.triangle-topleft {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    background-color: #0a495e;
    width: 3%;
    height: 20px;
}

.triangle-topright {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
    background-color: #0a495e;
    width: 3%;
    height: 20px;
}

.main {
    text-align: center;
    background-color: #99a8b2;
    width: 90%;
    height: 330px;
    padding: 20px;    
}

form {
    background-color: #99a8b2;
}

input[type=text] {
    background-color: #f3f4ed;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 30px;
    padding: 2px 10px;
    text-align: center;
}

button {
    background-color: #c64756;
    font-family: Baron Neue;
    width: 100px;
    height: 40px;
    padding-bottom: 10px;
    padding-top: 5px;
    border: none;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
}

.decimal {
    margin: auto;
    text-align: center;
    background-color: #186f8b;
    padding: 20px;
    font-family: Baron Neue;
    width: 50%;
    border-bottom: 5px solid #eeb76b;
    border-radius: 25px;
}

#error_message {
    color: #810000;
    font-family: Baron Neue;
    font-size: 15px;
    background-color: #99a8b2;
}

.result {
    margin: auto;
    text-align: center;
    background-color: #186f8b;
    padding: 20px;
    font-family: Baron Neue;
    width: 50%;
    height: 50px;
    border-bottom: 5px solid #eeb76b;
    border-radius: 25px;
}

#binary {
    font-size: 30px;
    margin-top: 5px;
    background-color: #186f8b;
}

.bottom {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20px;
    margin: auto;
}

.botspace {
    background-color: #99a8b2;
    height: 20px;
    width: 95%;
}

.triangle-botleft {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    background-color: #0a495e;
    width: 3%;
    height: 20px;
}

.triangle-botright {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
    background-color: #0a495e;
    width: 3%;
    height: 20px;
}

.description {
    color: #e6d5b8;
    background-color: #186f8b;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    margin: auto;
    padding: 20px;
    height: 60px;
    width: 47%;
    border-radius: 0px 0px 25px 25px;
    border-top: 5px solid #eeb76b;
}